*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html, body { margin: 0; padding: 0; border: 0; width: 100%; height: 100%; background: #111209; }
#root { width: 100%; min-height: 100vh; }
